<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>fpDualWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>ModificarAlumne</servlet-name>
		<servlet-class>servlet.ModificarAlumne</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarAlumne</servlet-name>
		<url-pattern>/ModificarAlumne</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>EliminarAlumne</servlet-name>
		<servlet-class>servlet.EliminarAlumne</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarAlumne</servlet-name>
		<url-pattern>/EliminarAlumne</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>EliminarActivitats</servlet-name>
		<servlet-class>servlet.EliminarActivitats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EliminarActivitats</servlet-name>
		<url-pattern>/EliminarActivitats</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>AfegirActivitats</servlet-name>
		<servlet-class>servlet.AfegirActivitats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfegirActivitats</servlet-name>
		<url-pattern>/AfegirActivitats</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<servlet-name>ModificarActivitats</servlet-name>
		<servlet-class>servlet.ModificarActivitats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarActivitats</servlet-name>
		<url-pattern>/ModificarActivitats</url-pattern>
	</servlet-mapping>
	
	  <servlet>
        <servlet-name>llista</servlet-name>
        <servlet-class>llista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>llista</servlet-name>
        <url-pattern>/llista</url-pattern>
    </servlet-mapping>
    <servlet>
  		<servlet-name>CentreFormulariAfegir</servlet-name>
  		<servlet-class>CentreFormulariAfegir</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>CentreFormulariAfegir</servlet-name>
  		<url-pattern>/CentreFormulariAfegir</url-pattern>
  	</servlet-mapping>
  	<servlet>
  		<servlet-name>CentreFormulariEliminar</servlet-name>
  		<servlet-class>CentreFormulariEliminar</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>CentreFormulariEliminar</servlet-name>
  		<url-pattern>/CentreFormulariEliminar</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>CentreFormulariModificar</servlet-name>
  		<servlet-class>CentreFormulariModificar</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>CentreFormulariModificar</servlet-name>
  		<url-pattern>/CentreFormulariModificar</url-pattern>
 	 </servlet-mapping>	 
 	 
 	 
 	 <servlet>
  		<servlet-name>CercarAlumne</servlet-name>
  		<servlet-class>CercarAlumne</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>CercarAlumne</servlet-name>
  		<url-pattern>/CercarAlumne</url-pattern>
 	 </servlet-mapping>
 	 
 	 
 	 <servlet>
  		<servlet-name>AdminAfegir</servlet-name>
  		<servlet-class>AdminAfegir</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>AdminAfegir</servlet-name>
  		<url-pattern>/AdminAfegir</url-pattern>
 	 </servlet-mapping>
 	 
 	 
	<error-page>
	    <exception-type>404</exception-type>
	    <error-code>404</error-code>
	    <location>/pages/login.jsp</location>
	</error-page> 
</web-app>
</element>